* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color palette for the basic-layout */
:root {
    --background-color: lightgray;
    --aside-color: #f4f4f4;
    --nav-bg-color: black;
    --header-bg-color: #333;
    --text-color: #333;
}

body {
    display: grid;
    grid-template-columns: 1fr 750px 1fr 1fr;
    grid-template-rows: auto auto 72px;
}

/* styling the header element */
header {
    grid-column: 1 / span 4;
    background-color: var(--header-bg-color);
    color: #f4f4f4;
    text-align: center;
}
header h1 {
    padding: 10px;
}
/* the end */


/* styling the nav-bar element */
nav ul {
   display: flex;
   background-color: var(--nav-bg-color);
   padding: 10px;
   justify-content: space-evenly;
}
nav li {
    list-style-type: none;
}

nav a {
    color: #f4f4f4;
    font-size: 18px;
    text-decoration: none;
}
nav a:hover {
    border-bottom: 1px solid white;
}
/* the end */


/* styling the main elemet */
main {
    grid-column: 1 / span 2;
    background-color: var(--background-color);
    margin: 20px;
    /* text-align: center;
    align-content: center;
    font-size: 24px; */
     border: 1px solid black;
     border-radius: 10px 10px 0px 0px;
}
.card {
    display: flow-root;
}
main .photo {
    float: right;
    margin: 10px;
}
hr {
    width: 500px;
    margin: auto;
}
main .flag {
    float: left;
    margin: 20px;
}



aside {
    grid-column: 3 / span 2;
    background-color: var(--aside-color);
    /* text-align: center;
    align-content: center; */
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    margin: 100px 0px 0px 50px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}


footer {
    grid-column: 1 / span 4;
    background-color: var(--header-bg-color);
    text-align: center;
    align-content: center;
    font-size: 24px;
    color: #f4f4f4;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}