@media screen and (min-width: 860px) {
      .hero-image {
        position: relative;
      }
      
      #data {
        position: absolute;
        top: 80px;
        left: 20px;
        border: 1px solid #ccc;
        background-color: var(--background-color);
        padding: 20px;
        opacity: 0.8;
      }
      #weather {
        position: absolute;
       bottom: 10px;
        right: 20px;
        border: 1px solid #ccc;
        background-color: var(--background-color);
        padding: 20px;
        opacity: 0.8;
      }
      .icon {
        display: none;
      }
      #weather h2::after {
           content: '🌦️';
      }
    
      h2 {
        text-align: left;
        border: 1px solid black;
        position: relative;
        right: 30px;
        padding: 10px;
        background-color: green;
        color: white;
      }
      footer {
        background-color: var(--header-bg-color);
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: -5px;
    }

}